@font-face {
	font-family: 'GongGothicLight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GongGothicMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GongGothicBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.display-medium60 {
	font-family: 'GongGothicMedium';
	font-size: 6rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.6rem;
}

.display-medium56 {
	font-family: 'GongGothicMedium';
	font-size: 5.6rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.56rem;
}

.display-medium52 {
	font-family: 'GongGothicMedium';
	font-size: 5.2rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.52rem;
}

.display-medium48 {
	font-family: 'GongGothicMedium';
	font-size: 4.8rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.48rem;
}

.display-medium44 {
	font-family: 'GongGothicMedium';
	font-size: 4.4rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.44rem;
}

.display-medium40 {
	font-family: 'GongGothicMedium';
	font-size: 4rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.44rem;
}

.display-medium36 {
	font-family: 'GongGothicMedium';
	font-size: 3.6rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.36rem;
}

.display-medium27 {
	font-family: 'GongGothicMedium';
	font-size: 2.7rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.27rem;
}

.display-medium20 {
	font-family: 'GongGothicMedium';
	font-size: 2rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.2rem;
}

.display-medium16 {
	font-family: 'GongGothicMedium';
	font-size: 1.6rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.16rem;
}

.display-light48 {
	font-family: 'GongGothicLight';
	font-size: 4.8rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.display-light32 {
	font-family: 'GongGothicLight';
	font-size: 3.2rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.display-light28 {
	font-family: 'GongGothicLight';
	font-size: 2.8rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.display-light24 {
	font-family: 'GongGothicLight';
	font-size: 2.4rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.display-light20 {
	font-family: 'GongGothicLight';
	font-size: 2rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.display-light18 {
	font-family: 'GongGothicLight';
	font-size: 1.8rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.display-light16 {
	font-family: 'GongGothicLight';
	font-size: 1.6rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.display-light14 {
	font-family: 'GongGothicLight';
	font-size: 1.4rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.display-light10 {
	font-family: 'GongGothicLight';
	font-size: 1rem;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

/* Path: FE/public/css/styles.css */
