@import 'reset.css';
@import 'color.css';
@import 'font.css';

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	font-family: 'GongGothicMedium', sans-serif;
	line-height: 1.6;
	color: #ffffff;
	background: var(--background, #141343);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

header {
	display: flex;
	width: 100%;
	height: 28rem;
	padding: 0.2rem 0rem;
	justify-content: center;
	align-items: center;
	gap: 80rem;
	flex-shrink: 0;
	background-color: #141343;
}

input {
	font-size: 2.4rem;
	font-family: 'GongGothicLight', sans-serif;
	height: 6rem;
	background-color: transparent;
	color: #fff;
	padding: 1.5rem;
	border-width: 0.2rem;
	border-color: #fff;
	border-radius: 1rem;
}

input:focus {
	outline: none;
}

button {
	font-size: 2.4rem;
	font-family: 'GongGothicLight', sans-serif;
	display: flex;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 1rem;
	border: 0.4rem solid #fff;
	background-color: transparent;
	color: #fff;
}

button:hover:not(.button-back-arrow-box) {
	background-color: #fff;
	color: #141343;
	cursor: pointer;
}

::-webkit-scrollbar {
	display: none;
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #141343;
	z-index: 100;

	/* animation */
	transition: opacity 0.5s;
}

.small-window {
	display: flex;
	width: 80rem;
	height: 88rem;
	padding: 2.2rem 2.8rem;
	flex-direction: column;
	align-items: center;

	flex-shrink: 0;
	margin-top: 7.4rem;

	border-radius: 3rem;
	border: 0.4rem solid #fff;
	background: rgba(255, 255, 255, 0);
}

/* components - BoldTitle */
.bold-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3.5rem;
	padding-bottom: 5.9rem;
}

/* components - TextInputBox */
.text-inputbox-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	gap: 1rem;
	padding-bottom: 2rem;
	width: 70rem;
}
.text-inputbox-button-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	/* justify-content: center; */
	gap: 1rem;
	padding-bottom: 2rem;
	width: 70rem;
}
.text-container {
	display: flex;
	align-items: flex-start;
	width: 40rem;
	height: 2.5rem;
}
.text-button-container {
	display: flex;
	align-items: flex-start;
	width: 55rem;
	height: 2.5rem;
}
.input-size {
	width: 40rem;
	height: 6rem;
}
.input-button-container {
	display: flex;
	gap: 3rem;
}
.input-button {
	width: 12rem;
	height: 6rem;
	font-size: 2.8rem;
}

/* components - ButtonMedium */
.button-medium {
	width: 40rem;
	height: 8rem;
	/* margin: 2rem 0rem; */
	font-size: 2.8rem;
}

.login-signup {
	margin-bottom: 8rem;
}

.login-signup-link {
	color: #ffffff;
	text-align: center;
}

.login-signup-link:hover {
	color: #ffd164;
	cursor: pointer;
}

/* components - ButtonSmall */
.button-small {
	width: 24rem;
	height: 6rem;
	font-size: 2.4rem;
}

/* components - ButtonBackArrow */
.button-back-arrow-box {
	display: flex;
	border: none;
	width: 5rem;
}

.button-back-arrow-box:hover {
	color: #141343;
	cursor: pointer;
}

.border-style-none {
	border-style: none;
}

.select-container {
	display: flex;
	width: 80rem;
	height: 88rem;
	padding: 2.2rem 2.8rem;
	flex-direction: column;
	align-items: center;

	flex-shrink: 0;
	margin-top: 7.4rem;
}

.select-wrapper {
	display: flex;
	width: 70rem;
	height: 36rem;
	margin: 9rem 0;
	justify-content: center;
	align-items: center;
}

/* components - ButtonLarge */
.button-large {
	display: flex;
	width: 54rem;
	height: 18rem;
	/* margin: 2rem 0rem; */
	font-size: 5.2rem;
	border-radius: 3rem;
}

.back-arrow-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	height: 100%;
}

.medium-window {
	display: flex;
	width: 100rem;
	height: 88rem;
	padding: 2.2rem 2.8rem;

	flex-direction: column;
	align-items: center;

	flex-shrink: 0;
	margin-top: 7.4rem;
	border-radius: 3rem;
	border: 0.4rem solid #fff;
	background: rgba(255, 255, 255, 0);
}

.medium-window-container {
	display: flex;
	width: 86rem;
	height: 55rem;
	padding: 5rem;

	flex-direction: column;
	align-items: center;

	border: 2px solid #fff;
	border-radius: 1rem;

	overflow-y: scroll;
	scroll-behavior: smooth;
}

.score-board-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 74rem;
	height: 3.5rem;
}

.score-board-wrapper {
	display: flex;
	justify-content: space-between;
	width: 15rem;
}

.divider {
	border: 0.1rem solid #b8b8b8;
	width: 100%;
	margin: 3rem 0;
}

td {
	text-align: center;
}

.basic-stats-container {
	display: flex;
	justify-content: space-between;
	width: 74rem;
	height: 22rem;
}

.match-date-time-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 34rem;
	height: 11rem;
	padding: 2rem;
	border-radius: 10px;
	border: 1px solid #dcdcdc;
}

.table-line-margin-bottom {
	margin-bottom: 3rem;
}

.basic-table-tr-spacer {
	height: 3rem;
}

.basic-stats-container td:nth-child(even) {
	width: 6rem;
}

.match-rally-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36rem;
	height: 22rem;
	padding: 2rem;
	border-radius: 10px;
	border: 1px solid #dcdcdc;
}

.special-stats-container {
	display: flex;
	justify-content: center;
	width: 74rem;
	height: auto;
}

.special-table-tr-spacer {
	height: 3.6rem;
}

.special-stats-container td:nth-child(even) {
	width: 14rem;
}

.special-stats-container td:nth-child(odd) {
	width: 20rem;
}

/* Path: FE/public/css/style.css */

/* GameSettingPage*/
.button-head-count {
	display: flex;
	width: 28rem;
	padding: 2.12rem 0rem 2.18rem 0rem;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.horizontal-button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.game-setting-nickname-container {
	display: flex;
	width: 60rem;
	height: 36rem;
	padding: 5.2rem 3.5rem 6.8rem 5rem;
	justify-content: flex-end;
	align-items: center;

	gap: 3.5rem;
	border-radius: 1rem;
	border: 0.2rem solid #fff;
}

.game-setting-content-container {
	display: flex;
	width: 60rem;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
}

.vertical-button-container {
	display: flex;
	height: 15rem;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.game-setting-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	flex-shrink: 0;
	align-self: stretch;
}

.game-setting-window {
	display: flex;
	width: 80rem;
	height: 88rem;
	padding: 7rem;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	flex-shrink: 0;
	border-radius: 3rem;
	border: 0.4rem solid #fff;
	background: rgba(255, 255, 255, 0);
}
/* GameSettingPage*/

/* GameSettingDetailed */

.button-select {
	width: 16rem;
	height: 10rem;
	/*padding: 4rem 6rem;*/
	font-size: 2.4rem;
	border-radius: 3rem;
	border: 0.2rem solid #fff;
}

.button-reset-complete {
	display: flex;
	width: 24rem;
	padding: 1.6rem 0rem;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

/* light-24px-10% */
.text-subtitle-1 {
	width: 8rem;
	color: #fff;
	text-align: center;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.24rem;
}

.width-66 {
	width: 66rem;
}
.width-54 {
	width: 54rem;
}

.width-28 {
	width: 28rem;
}

.height-25 {
	height: 25rem;
}

.selected {
	box-shadow:
		0rem 0rem 1.5rem 0rem #ff5d84,
		0rem 0rem 1.5rem 0rem #ff5d84;
	text-shadow:
		0rem 0rem 1rem #ff5d84,
		0rem 0rem 1rem #ff5d84;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.color-picker-hidden {
	visibility: hidden;
	width: 0;
	height: 0;
}

.color-display-back {
	display: flex;
	height: 25rem;
	padding: 6.5rem 7.5rem;
	justify-content: center;
	align-items: center;
	gap: 8rem;
	border: 0.2rem solid var(--white, #fff);
	background: #000;
}

.color-display-paddle {
	width: 2rem;
	height: 12rem;
}

.color-display-ball {
	width: 4rem;
	height: 4rem;
	border-radius: 2rem;
}
/* GameSettingDetailed */

/* Tournament */
.tournament-bracket {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.user-container {
	width: 14rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.user-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	width: 100%;
	height: 4rem;
	padding: 0 1rem;
	margin: auto 0;
	border-radius: 1rem;
	border: 0.2rem solid #ffffff;
}

.user-wrapper-position {
	width: 100%;
	height: 4rem;
	padding: 0 1rem;
	margin: auto 0;
	border-radius: 1rem;
	border: 0.2rem solid #ffffff;
	position: absolute;
}

.wire-container {
	width: 6rem;
	height: 44.6rem;
	position: relative;
}

.wire-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	position: absolute;
}

.wire-rectangle {
	width: 60%;
	height: 100%;
	border-top: 0.3rem solid #ffffff;
	border-right: 0.3rem solid #ffffff;
	border-bottom: 0.3rem solid #ffffff;
}

.wire-solid-line {
	width: 40%;
	border-top: 0.3rem solid #ffffff;
}

.wire-dotted-line {
	width: 100%;
	border-top: 0.3rem dotted #ffffff;
}

/* GamePage.js */
.game-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.score-container {
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.player1 {
	margin-right: 4rem;
}

.player2 {
	margin-left: 4rem;
}

@keyframes score_transition {
	from {
		text-shadow:
			0rem 0rem 1rem #ff5d84,
			0rem 0rem 1rem #ff5d84;
	}
	to {
		text-shadow: none;
	}
}
.score_transition {
	animation: score_transition 3s;
}

.game-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.game-result {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	display: none;
}
