@import 'reset.css';
@import 'color.css';
@import 'font.css';

@media (max-width: 2560px) {
	html {
		font-size: 62.5%;
	}
}

@media (max-width: 1920px) {
	html {
		font-size: 50%;
	}
}

@media (max-width: 1440px) {
	html {
		font-size: 37.5%;
	}
}

@media (max-width: 1024px) {
	html {
		font-size: 25%;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 18.75%;
	}
}

@media (max-width: 425px) {
	html {
		font-size: 12.5%;
	}
}

body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	font-family: 'GongGothicMedium', sans-serif;
	line-height: 1.6;
	color: #ffffff;
	background: var(--background, #141343);
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

header {
	display: flex;
	width: 100%;
	height: 28rem;
	padding: 0.2rem 0rem;
	justify-content: center;
	align-items: center;
	gap: 80rem;
	flex-shrink: 0;
	background-color: #141343;
}

#logo:hover {
	cursor: pointer;
}

input {
	font-size: 2.4rem;
	font-family: 'GongGothicLight', sans-serif;
	height: 6rem;
	background-color: transparent;
	color: #fff;
	padding: 1.5rem;
	border-width: 0.2rem;
	border-color: #fff;
	border-radius: 1rem;
}

input:focus {
	outline: none;
}

button {
	font-size: 2.4rem;
	font-family: 'GongGothicLight', sans-serif;
	display: flex;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 1rem;
	border: 0.4rem solid #fff;
	background-color: transparent;
	color: #fff;
}

button:hover:not(.button-back-arrow-box):not(.duel-toggle-button):not(
		.info-modal-button
	):not(.user-profile-button):not(.room-list-refresh-button):not(
		.single-room-button
	) {
	background-color: #fff;
	color: #141343;
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 0.4rem;
}

::-webkit-scrollbar-track {
	/* 투명도 50% */
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 0.4rem;
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #141343;
	z-index: 100;

	/* animation */
	transition: opacity 0.5s;
}

.small-window {
	display: flex;
	width: 80rem;
	height: 88rem;
	padding: 5rem;
	flex-direction: column;
	align-items: center;
	position: relative;
	flex-shrink: 0;
	margin-top: 7rem;

	border-radius: 3rem;
	border: 0.4rem solid #fff;
	background: rgba(255, 255, 255, 0);
}

/* components - BoldTitle */
.bold-title-no-padding {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bold-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3.5rem;
	padding-bottom: 5.9rem;
}

.text-inputbox-room-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	align-self: stretch;
}

/* components - TextInputBox */
.text-inputbox-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 70rem;
}
.text-inputbox-button-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;
	width: 70rem;
}
.text-container {
	display: flex;
	align-items: flex-start;
	width: 40rem;
	height: 2.5rem;
}
.text-button-container {
	display: flex;
	align-items: flex-start;
	width: 55rem;
	height: 2.5rem;
}
.input-size {
	width: 40rem;
	height: 6rem;
}

.input-size-60 {
	width: 60rem;
	height: 6rem;
}

.input-button-container {
	display: flex;
	gap: 3rem;
}
.input-button {
	width: 12rem;
	height: 6rem;
	font-size: 2.8rem;
}

/* components - ButtonMedium */
.button-medium {
	width: 40rem;
	height: 8rem;
	/* margin: 2rem 0rem; */
	font-size: 2.8rem;
}

.login-signup-link {
	color: #ffffff;
	text-align: center;
}

.login-signup-link:hover {
	color: #ffd164;
	cursor: pointer;
}

/* components - ButtonSmall */
.button-small {
	width: 24rem;
	height: 6rem;
	font-size: 2.4rem;
}

.button-x-small {
	width: 18rem;
	height: 6rem;
	font-size: 2rem;
}

/* components - ButtonBackArrow */

/* window 안에 뒤로가기 있을 경우, window 안의 절대좌표로 지정*/
.button-back-in-window {
	position: absolute;
	left: 3rem;
	bottom: 2rem;
}

/* window가 없을 경우 뒤로가기 버튼 container*/
.back-arrow-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	height: 100%;
}

/* */
.button-back-arrow-box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width: 5rem;
}

.button-back-arrow-box:hover {
	color: #141343;
	cursor: pointer;
}

.border-style-none {
	border-style: none;
}

.select-container {
	display: flex;
	width: 80rem;
	height: 88rem;
	padding: 2.36rem 3.3rem;
	flex-direction: column;
	align-items: center;

	flex-shrink: 0;
	margin-top: 7rem;
}

.select-wrapper {
	display: flex;
	width: 70rem;
	height: 36rem;
	margin: 9rem 0;
	justify-content: center;
	align-items: center;
}

/* components - ButtonLarge */
.button-large {
	display: flex;
	width: 54rem;
	height: 18rem;
	/* margin: 2rem 0rem; */
	font-size: 5.2rem;
	border-radius: 3rem;
}

.medium-window {
	display: flex;
	width: 100rem;
	height: 88rem;
	padding: 2.2rem 2.8rem;

	flex-direction: column;
	align-items: center;

	flex-shrink: 0;
	margin-top: 7rem;
	border-radius: 3rem;
	border: 0.4rem solid #fff;
	background: rgba(255, 255, 255, 0);
}

.medium-window-container {
	display: flex;
	width: 86rem;
	height: 55rem;
	padding: 5rem;

	flex-direction: column;
	align-items: center;

	border: 0.2rem solid #fff;
	border-radius: 1rem;

	overflow-y: scroll;
	scroll-behavior: smooth;
}

.score-board-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 3.5rem;
	padding: 0 2rem;
}

.score-board-wrapper {
	display: flex;
	justify-content: space-between;
	width: 15rem;
}

.divider {
	border: 0.1rem solid #b8b8b8;
	width: 100%;
	margin: 3rem 0;
}

td {
	text-align: center;
}

.basic-stats-container {
	display: flex;
	justify-content: space-between;
	width: 74rem;
	height: 22rem;
}

.match-date-time-table {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 34rem;
	height: 11rem;
	padding: 2rem;
	border-radius: 1rem;
	border: 0.1rem solid #dcdcdc;
}

.table-line-margin-bottom {
	margin-bottom: 3rem;
}

.basic-table-tr-spacer {
	height: 3rem;
}

.basic-stats-container td:nth-child(even) {
	width: 6rem;
}

.match-rally-table {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36rem;
	height: 22rem;
	padding: 2rem;
	border-radius: 1rem;
	border: 0.1rem solid #dcdcdc;
}

.special-stats-container {
	display: flex;
	justify-content: center;
	width: 74rem;
	height: auto;
}

.special-table-tr-spacer {
	height: 3.6rem;
}

.special-stats-table td:nth-child(even) {
	width: 14rem;
}

.special-stats-table td:nth-child(odd) {
	width: 20rem;
}

/* Path: FE/public/css/style.css */

/* GameSettingPage*/
.button-head-count {
	display: flex;
	width: 28rem;
	padding: 2.12rem 0rem 2.18rem 0rem;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.horizontal-button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.game-setting-room-container {
	display: flex;
	width: 60rem;
	height: 6rem;
	border-radius: 1rem;
	border: 0.2rem solid #fff;
}

.game-setting-nickname-container {
	display: flex;
	width: 60rem;
	height: 34rem;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	border: 0.2rem solid #fff;
}

.game-setting-content-container {
	display: flex;
	width: 60rem;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
}

.vertical-button-container {
	display: flex;
	height: 15rem;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.game-setting-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 1 0 0;
}

.game-setting-window {
	display: flex;
	width: 80rem;
	height: 88rem;
	padding: 7rem;
	margin-top: 7rem;
	flex-direction: column;
	align-items: center;
	position: relative;
	gap: 1rem;
	flex-shrink: 0;
	border-radius: 3rem;
	border: 0.4rem solid #fff;
}

/* GameSettingTournament*/

.num-block {
	float: left;
	width: 100%;
	align-items: center;
}

/* head count */
.head-count .num-in {
	float: left;
	width: 14rem;
}

.head-count .num-in span {
	display: block;
	float: left;
	width: 3.6rem;
	height: 3.6rem;
	/*line-height: 32px;*/
	text-align: center;
	position: relative;
	cursor: pointer;
}

.head-count .num-in span.dis:before,
.head-count .num-in span.dis:after {
	background-color: #9a9a9a !important;
}

.head-count .num-in input {
	float: left;
	width: 4rem;
	height: 4rem;
	border: 0.2rem solid #ffffff;
	border-radius: 0.5rem;
	font-size: 2rem;
	text-align: center;
	padding: 0;
}

.head-count .num-in span.minus:before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 0.4rem;
	background-color: #ffffff;
	top: 50%;
	left: 0;
}

.head-count .num-in span.plus:before,
.head-count .num-in span.plus:after {
	content: '';
	position: absolute;
	right: 0rem;
	width: 2rem;
	height: 0.4rem;
	background-color: #ffffff;
	top: 50%;
}

.head-count .num-in span.plus:after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* head count */
.text-light-15 {
	width: 1.5rem;
	/* flex-shrink: 0; */
	color: #fff;
	text-align: center;
	font-size: 2rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}
.input-nickname-box {
	width: 20rem;
	height: 4rem;
	flex-shrink: 0;
	stroke-width: 0.2rem;
	stroke: #fff;
	text-align: left;
}

.input-nickname {
	display: flex;
	width: 24rem;
	height: 4rem;
	justify-content: space-between;
	align-items: center;
}

/* 닉네임 설정 한줄 */
.input-nickname-col-1,
.input-nickname-col-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}
/* 닉네임 설정 두줄 묶음 */
.input-nickname-two-col {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-self: stretch;
}

/* 닉네임 설정 타이틀 + 입력창 */
.input-nickname-container {
	display: flex;
	width: 52rem;
	height: 28rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	flex-shrink: 0;
}

/* 인원수 설정 */
.game-setting-number-container {
	display: flex;
	padding-left: 1rem;
	align-items: center;
	gap: 2rem;
	align-self: stretch;
}
/* 인원 수 선택 및 닉네임 입력 컨테이너 두가지 포함 */
.game-setting-tournament-container {
	display: flex;
	height: 39rem;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	flex-shrink: 0;
}
/* GameSettingPage*/

/* GameSettingDetailed */

.button-select {
	width: 16rem;
	height: 10rem;
	/*padding: 4rem 6rem;*/
	font-size: 2.4rem;
	border-radius: 3rem;
	border: 0.2rem solid #fff;
}

.button-reset-complete {
	display: flex;
	width: 24rem;
	padding: 1.6rem 0rem;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

/* light-24px-10% */
.text-subtitle-1 {
	width: 8rem;
	color: #fff;
	text-align: center;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.24rem;
}

.text-subtitle-1-left {
	width: 14rem;
	color: #fff;
	text-align: flex-start;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.24rem;
}

.width-66 {
	width: 66rem;
}
.width-54 {
	width: 54rem;
}

.width-28 {
	width: 28rem;
}

.width-14 {
	width: 14rem;
}

.height-25 {
	height: 25rem;
}

.height-27 {
	height: 27rem;
}

.height-64 {
	height: 63.7rem;
}

.height-66 {
	height: 66rem;
}

.gap-1-6 {
	gap: 1.6rem;
}

.gap-4 {
	gap: 4rem;
}

.gap-5 {
	gap: 5rem;
}

.gap-6 {
	gap: 6rem;
}

.selected {
	box-shadow:
		0rem 0rem 1.5rem 0rem #ff5d84,
		0rem 0rem 1.5rem 0rem #ff5d84;
	text-shadow:
		0rem 0rem 1rem #ff5d84,
		0rem 0rem 1rem #ff5d84;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 300;
}

.color-picker-hidden {
	visibility: hidden;
	width: 0;
	height: 0;
}

.color-display-back {
	display: flex;
	height: 25rem;
	padding: 6.5rem 7.5rem;
	justify-content: center;
	align-items: center;
	gap: 8rem;
	border: 0.2rem solid var(--white, #fff);
	background: #000;
}

.color-display-paddle {
	width: 2rem;
	height: 12rem;
}

.color-display-ball {
	width: 4rem;
	height: 4rem;
	border-radius: 2rem;
}

/* GameSettingDetailed */

/* 모달 */

.modal-content-style {
	background-color: #141343;
	padding: 3rem 4rem;
	border-radius: 2rem;
}

.modal-content-body-text {
	text-align: center;
	padding: 4rem;
}

.game-page-container {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
/* 모달 */

/* Tournament */
.tournament-bracket {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.user-container {
	width: 14rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.user-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	width: 100%;
	height: 4rem;
	padding: 0 1rem;
	margin: auto 0;
	border-radius: 1rem;
	border: 0.2rem solid #ffffff;
}

.user-wrapper-position {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 4rem;
	padding: 0 1rem;
	margin: auto 0;
	border-radius: 1rem;
	border: 0.2rem solid #ffffff;
	position: absolute;
}

.pong-animation {
	font-weight: bold;
	animation: pongAnimation 0.5s infinite alternate;
}
@keyframes pongAnimation {
	0% {
		box-shadow: 0rem 0rem 1rem 0.5rem #ffffff;
		text-shadow: 0rem 0rem 1rem #ff5d84;
	}
	100% {
		box-shadow: 0rem 0rem 1rem 0.5rem #ff5d84;
		text-shadow: 0rem 0rem 1rem #ffffff;
	}
}

.win-player-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	animation: typingAnimation 3s steps(40) forwards;
}
@keyframes typingAnimation {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.wire-container {
	width: 6rem;
	height: 44.6rem;
	position: relative;
}

.wire-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	position: absolute;
}

.wire-rectangle {
	width: 60%;
	height: 100%;
	border-top: 0.3rem solid #ffffff;
	border-right: 0.3rem solid #ffffff;
	border-bottom: 0.3rem solid #ffffff;
}

.wire-solid-line {
	width: 40%;
	border-top: 0.3rem solid #ffffff;
}

.wire-dotted-line {
	width: 100%;
	border-top: 0.3rem dotted #ffffff;
}

.replace-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 13rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.champion-wrapper {
	margin-bottom: 1.5rem;
}

/* GamePage.js */
.game-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.score-container {
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.player1 {
	margin-right: 4rem;
}

.player2 {
	margin-left: 4rem;
}

@keyframes score_transition {
	from {
		text-shadow:
			0rem 0rem 1rem #ff5d84,
			0rem 0rem 1rem #ff5d84;
	}
	to {
		text-shadow: none;
	}
}
.score_transition {
	animation: score_transition 3s;
}

.game-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.game-result {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	display: none;
}

/* Graph */
.graph-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 45rem;
}

/* Graph - ScoreTrend */
.score-trend-container {
	display: flex;
	flex-direction: column;
	width: 36.5rem;
	height: 45rem;
}

.score-trend-title {
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 3rem;
	margin-bottom: 1rem;
}

.score-trend-canvas-container {
	display: flex;
	width: 100%;
	height: 36rem;
}

.score-trend-canvas-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 4rem;
	height: 100%;
	padding: 2rem 0;
}

.score-trend-canvas-text-wrapper {
	display: flex;
	justify-content: end;
	align-items: center;
	height: auto;
	width: 3em;
	padding-right: 1rem;
	margin: auto;
}

.score-trend-canvas-draw-container {
	border-left: 0.2rem solid white;
	border-bottom: 0.2rem solid white;
}

.score-trend-player-name-container {
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 5rem;
	width: 100%;
	height: 3rem;
}

.score-trend-player-name-wrapper {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: auto;
}

.score-player-name-margin-right {
	margin-right: 1rem;
}

.score-player-name-margin-left {
	margin-left: 1rem;
}

.score-player-color-yellow {
	border: 0.4rem solid #ffd164;
}

.score-player-color-blue {
	border: 0.4rem solid #5ad7ff;
}

/* Graph - ScorePosition */
.score-position-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 36.5rem;
	height: 45rem;
}

.score-position-title {
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.score-position-canvas {
	border: 0.2rem solid white;
}

.score-position-player-name-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 28rem;
	height: 3rem;
}

.score-position-player-left-wrapper {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 48%;
}
.score-position-player-right-wrapper {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 48%;
}

/* component - DuelReport */
.duel-report-container {
	display: flex;
	flex-direction: column;
	width: 78rem;
	height: 56rem;
	overflow: scroll;
	overflow-x: hidden;
}

.duel-report-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* min-height: 18rem */
	/* min-height: 18rem;
	max-height: 55rem; */
	border-radius: 3rem;
	border: 0.4rem solid #ffffff;
	padding: 2rem;
	margin-bottom: 3rem;
	position: relative;
}

.duel-result-container {
	display: flex;
	width: 100%;
	height: 9rem;
	padding: 0 2rem;
	margin-bottom: 2rem;
}

.duel-user-container {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 45%;
	height: 100%;
	border-color: #5ad7ff;
}

.justify-content-start {
	justify-content: start;
}

.justify-content-end {
	justify-content: end;
}

.user-image-container {
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	border: 0.1rem solid white;
	background-color: aliceblue;
}

.user-blank-container {
	width: 3rem;
}

.user-nickname-container {
	display: flex;
	/* justify-content */
	width: 16rem;
}

.duel-score-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 12rem;
	height: 100%;
}

.duel-score-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
}

.duel-date-time-container {
	display: flex;
	justify-content: center;
	align-items: end;
	width: 100%;
	height: 2.5rem;
}

.duel-date-time-wrapper {
	display: flex;
	align-items: center;
}

.duel-date-time-title {
	width: 7.2rem;
	margin-right: 2rem;
	margin-left: 5rem;
}

.duel-date-time-data {
	width: 15rem;
}

.duel-toggle-button {
	border: none;
	position: absolute;
	width: 6rem;
	height: 5rem;
	top: 12rem;
	right: 5.5rem;
}

.duel-button-roate {
	transform: rotate(180deg);
}

.duel-toggle-container {
	width: 100%;
}

.duel-toggle-hidden {
	display: none;
}

/* OnlineMainScreenPage */
.large-window {
	display: flex;
	width: 120rem;
	height: 88rem;
	margin-top: 7rem;
	border-radius: 3rem;
	border: 0.4rem solid #fff;
	background: rgba(255, 255, 255, 0);
	position: relative;
}

/* Component - ProfileButton */
.profile-button-container {
	position: absolute;
	top: 6rem;
	right: 6rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	height: 12rem;
}

.info-modal-button {
	display: flex;
	width: 12rem;
	height: 10rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border: none;
}

.info-modal-img {
	width: 5rem;
	height: 5rem;
}

.user-profile-button {
	display: flex;
	width: 12rem;
	height: 12rem;
	justify-content: center;
	align-items: center;
	border-radius: 100rem;
	border-style: none;
}

.user-profile-img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

/* Component - ProfileWindow */
.user-profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8rem 5rem 10rem 5rem;
	width: 35rem;
	height: 100%;
	gap: 4rem;
	border-right: 0.2rem solid #ffffff;
}

.user-profile-wrapper {
	width: 16rem;
	height: 16rem;
	border-radius: 100rem;
}

.user-profile-summary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	width: 28rem;
	height: 28rem;
	border-radius: 1rem;
	border: 0.2rem solid #fff;
}

.create-room-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28rem;
	height: 6rem;
	border: 0.4rem solid #fff;
	border-radius: 1rem;
}

/* Component - RoomListWindow */
.room-list-window {
	width: 85rem;
	height: 100%;
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
}

.room-list-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 6rem;
	position: relative;
}

.room-list-refresh-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6rem;
	height: 6rem;
	position: absolute;
	right: 7rem;
	border: none;
}

.room-list-refresh-img {
	width: 6rem;
	height: 6rem;
	transition: transform 1s ease;
	animation-name: rotate;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.room-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	column-gap: 5rem;
	row-gap: 4rem;
	width: 75rem;
	height: 75rem;
	padding: 3rem 4rem;
	border-radius: 1rem;
	border: 0.2rem solid #fff;
	overflow-y: scroll;
}

.single-room-button {
	display: flex;
	flex-direction: column;
	padding: 1.5rem 2.2rem;
	align-items: center;
	justify-content: space-between;
	width: 30rem;
	height: 18rem;
	gap: 1.5rem;
	border-radius: 3rem;
	border: 0.4rem solid #fff;
}

.single-room-match-mode {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 23rem;
	height: 4rem;
	border-radius: 1rem;
	border: 0.2rem solid #fff;
}

.single-room-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.single-room-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 4rem;
}

.single-room-people {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8rem;
	height: 4rem;
	border-radius: 1rem;
	border: 0.2rem solid #fff;
}

/* WaitingRoomPage */
.flex-direction-column {
	flex-direction: column;
}

.waiting-room-main {
	display: flex;
	width: 100%;
	height: 68rem;
	border-bottom: 0.2rem solid #fff;
}

.waiting-room-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20rem;
}

/* Component - WaitingRoomUserBox */
.waiting-room-users-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90rem;
	height: 100%;
	border-right: 0.2rem solid #fff;
	padding: 3.5rem 4rem;
	row-gap: 5rem;
}

.user-seat-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 18rem;
	height: 28rem;
	gap: 2rem;
	border-radius: 3rem;
	border: 0.2rem solid #fff;
}

.user-seat-box-img-container {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
}

.user-seat-box-ready-state {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 12rem;
	height: 4rem;

	border-radius: 1rem;
	border: 0.2rem solid #fff;
}

.user-seat-box-block-container {
	width: 9rem;
	height: 9rem;
}

/* Component - WaitingRoomInfo */
.room-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30rem;
	height: 100%;
	padding: 4.5rem 4rem;
}

.room-info-content-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 3rem;
	width: 22rem;
	height: 45rem;
	border-radius: 2rem;
	border: 0.2rem solid #fff;
	margin-top: 4rem;
	margin-bottom: 2rem;
	padding: 2rem 1rem;
}

.room-info-content-text {
	width: 100%;
	height: 2rem;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.room-info-content-color {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 15rem;
	padding: 2rem 5rem;
	background-color: #000;
}

.room-info-color-paddle {
	width: 2rem;
	height: 100%;
}

.room-info-color-ball {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.room-info-modify-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22rem;
	height: 4rem;
	border-radius: 1rem;
	border: 0.2rem solid #fff;
}

/* Component - ButtonExtraLarge */
.button-extra-large {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80rem;
	height: 8rem;
	color: #fff;
	border-radius: 1rem;
	border: 0.4rem solid #fff;
}

/* profile modal */

#profile-modal {
	--bs-modal-width: 120rem;
}

#profile-modal-content {
	display: flex;
	width: 120rem;
	height: 88rem;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 3rem;
	border: 0.4rem solid #fff;
	background: #141343;
}

#profile-modal-close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 1000;
}

#profile-modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0;
}

#profile-modal-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0;
}

#profile-modal-row {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#profile-modal-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	border-right: 0.2rem solid #fff;
	padding: 0;
}

#profile-nav-tab {
	display: flex;
	width: 100%;
	padding: 4rem 0;
	flex-direction: column;
	align-items: center;
}

.profile-nav-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 6rem;
	border-radius: 0;
	border: none;
	display: flex;
	height: 10rem;
	padding: 0 4rem;
	align-items: center;
	gap: 2.4rem;
	align-self: stretch;
}

.profile-nav-link.active {
	text-shadow:
		0rem 0rem 1rem #ffd164,
		0rem 0rem 1rem #ffd164;
	background: rgba(255, 255, 255, 0.2);
	border-right: 0.6rem solid #ffd164;
}

.profile-icon {
	width: 5rem;
	height: 5rem;
}

.profile-nav-link:hover .profile-icon,
.profile-nav-link.active .profile-icon,
.logout-button:hover .profile-icon {
	filter: brightness(0) saturate(100%) invert(83%) sepia(30%) saturate(800%)
		hue-rotate(344deg) brightness(101%) contrast(101%);
}

#logout-container {
	display: flex;
	padding-bottom: 4rem;
	justify-content: center;
	align-items: center;
	gap: 2.4rem;
	align-self: stretch;
}

#logout-button {
	display: flex;
	padding: 0rem 4rem;
	align-items: center;
	gap: 2.4rem;
	flex: 1 0 0;
	height: 6rem;
	border-radius: 0;
	border: none;
}

#logout-button:hover .profile-icon {
	filter: brightness(0) saturate(100%) invert(18%) sepia(63%) saturate(5393%)
		hue-rotate(355deg) brightness(93%) contrast(128%);
}

#logout-text {
	width: 100%;
}

#profile-modal-content-container {
	display: flex;
	height: 100%;
	padding: 0;
}

#nav-tabContent {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
}

.tab-content .active {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0;
}

/* my-info */

.my-info-content-container {
	display: inline-flex;
	align-items: flex-start;
	margin-top: 8rem;
	gap: 6rem;
}

.my-info-content-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10rem;
}

.my-info-content-image-name-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5rem;
}

.my-info-content-image-container {
	position: relative;
	display: flex;
	align-items: flex-start;
}

.my-info-content-image {
	display: flex;
	width: 20rem;
	height: 20rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 100rem;
	background: #dfdfdf;
}

.my-info-content-image-edit {
	display: flex;
	padding: 1rem;
	align-items: flex-end;
	gap: 1rem;
	position: absolute;
	right: 0rem;
	bottom: 0rem;
	border-radius: 100rem;
	border: 0.1rem solid #fff;
	background: var(--yellow, #ffd164);
}

.edit-icon {
	width: 3rem;
	height: 3rem;
}

.my-info-content-name {
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	gap: 1rem;
	padding-left: 4rem;
}

.my-info-content-id-password-container {
	display: flex;
	width: 30rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 3rem;
}

.my-info-content-id {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.my-info-content-password {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.my-info-content-right {
	display: flex;
	flex-direction: column;
	width: 40rem;
	padding: 8.8rem 7.4rem 8.8rem 7.3rem;
	justify-content: center;
	align-items: center;
	border-radius: 3rem;
	border: 0.2rem solid #fff;
}

.my-info-stats-container {
	display: flex;
	width: 25.3rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	flex-shrink: 0;
}

.my-info-content-win-lose-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	row-gap: 2rem;
	align-self: stretch;
	flex-wrap: wrap;
}

.my-info-content-win-rate-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-self: stretch;
}

.my-info-content-rating-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-self: stretch;
}

/* MyRecordContent.js */

.my-record-content-container {
	display: flex;
	width: 85rem;
	height: 76rem;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	flex-shrink: 0;
	margin-top: 6rem;
}

.my-record-container {
	display: flex;
	padding: 0rem 3rem;
	width: 85rem;
	height: 66rem;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	align-self: stretch;
	overflow-y: scroll;
}

/* UserNode.js */
.user-search-node-container {
	display: flex;
	padding: 4rem 4rem 5.3rem 4rem;
	width: 20rem;
	height: 28rem;
	flex-direction: column;
	align-items: center;
	border-radius: 3rem;
	border: 0.2rem solid #fff;
	gap: 3.5rem;
}

.user-search-node-profile {
	display: flex;
	width: 12rem;
	height: 12rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 100rem;
	background: #dfdfdf;
}

/* UserSearchContent.js */
.user-search-content-container {
	display: inline-flex;
	width: 81rem;
	height: 70rem;
	flex-direction: column;
	align-items: center;
	gap: 6.5rem;
	flex-shrink: 0;
	margin-top: 9rem;
}

.user-search-input-container {
	position: relative;
	display: flex;
	width: 81rem;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.user-search-input {
	width: 64rem;
	height: 6rem;
	flex-shrink: 0;
}

.user-search-button {
	position: absolute;
	right: 0;
	border: none;
}

.user-search-icon {
	width: 5rem;
	height: 5rem;
}

.user-search-button:hover .user-search-icon {
	filter: brightness(0) saturate(100%);
}

.user-search-result-container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;

	overflow-y: scroll;
}

.user-search-result {
	display: flex;
	width: 66.3rem;
	gap: 3rem;
}

/* MyFriendContent.js */
.my-friend-content-container {
	display: flex;
	width: 72rem;
	height: 76rem;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	margin-top: 6rem;
}

.my-friend-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	align-self: stretch;
	height: 100%;
}

.my-friend {
	display: flex;
	justify-content: center;
	align-self: stretch;

	height: 28rem;
	overflow-y: scroll;
}

.my-friend-row {
	display: flex;
	width: 66.3rem;
	gap: 3rem;
}

.my-friend-request-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-self: stretch;
}

.my-friend-request-sent-container,
.my-friend-request-received-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.my-friend-request-sent,
.my-friend-request-received {
	display: flex;
	flex-direction: column;
	width: 32rem;
	height: 28rem;
	padding: 4rem;
	gap: 2rem;
	justify-content: flex-start;
	align-items: center;
	border-radius: 3rem;
	border: 0.2rem solid #fff;
	overflow-y: scroll;
	overflow-x: hidden;
}

.my-friend-request-sent::-webkit-scrollbar-button:start,
.my-friend-request-sent::-webkit-scrollbar-button:end,
.my-friend-request-received::-webkit-scrollbar-button:start,
.my-friend-request-received::-webkit-scrollbar-button:end {
	opacity: 0;
}

/* MyFriendRequestNode.js */
.my-friend-request-node-container {
	display: flex;
	width: 240px;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
}

.my-friend-request-node-button-container {
	display: flex;
	gap: 1rem;
}

.my-friend-request-node-cancel,
.my-friend-request-node-accept,
.my-friend-request-node-reject {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	border: none;
}

.my-friend-request-node-cancel:hover img,
.my-friend-request-node-reject:hover img {
	filter: brightness(0) saturate(100%) invert(18%) sepia(63%) saturate(5393%)
		hue-rotate(355deg) brightness(93%) contrast(128%);
}

.my-friend-request-node-accept:hover img {
	filter: brightness(0) saturate(100%) invert(77%) sepia(66%) saturate(6583%)
		hue-rotate(87deg) brightness(125%) contrast(119%);
}

/* modal - StatsContent.js */
.modal-stats-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80rem;
	height: fit-content;
	margin-top: 7rem;
	gap: 3rem;
}

.play-time-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 72rem;
	height: 20rem;
	padding: 3.7rem 6rem;
	border: 0.2rem solid #fff;
	border-radius: 3rem;
}

.play-time-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40rem;
}

.modal-stats-divider {
	border: 0.1rem solid #fff;
	width: 100%;
	margin: 2rem 0;
}

.play-time-input-container {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 3rem;
}

.play-time-input-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 20rem;
}

.stats-text-container {
	display: flex;
	justify-content: space-between;
	width: 72rem;
	height: 20rem;
}

.play-count-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	width: 33rem;
	height: 20rem;
	border-radius: 3rem;
	border: 0.2rem solid #fff;
}

.top-stats-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 33rem;
	height: 20rem;
	border-radius: 3rem;
	border: 0.2rem solid #fff;
	padding: 5.5rem;
}

.top-stats-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 1rem;
}

.graph-stats-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 1rem;
}

.rating-change-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 37rem;
	height: 28rem;
	gap: 1rem;
}

.rating-change-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
}

.rating-change-text-container {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	padding: 2rem 0;
	width: fit-content;
	height: 100%;
	margin-right: 0.5rem;
}

.rating-change-text-wrapper {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
}

.rating-change-canvas {
	border-left: 0.1rem solid #fff;
	border-bottom: 0.1rem solid #fff;
}

.attack-tendency-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33rem;
	height: 28rem;
	gap: 2rem;
	margin-right: 4rem;
}

.attack-tendency-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 0.1rem solid #fff;
}

.attack-tendency-canvas {
}
